/* .space {
  flex: 1 1 auto
}

.example-form {
  min-width: 150px;
  max-width: 600px;
  width: 100%;
  padding-left: 35%;
  padding-top: 2%;
  background-origin: padding-box;
  
  align-content: center;
}

.example-full-width {
  width: 100%;
}

.example-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.example-container>* {
  width: 50%;
  orientation: center; 
  text-align: center;
}

.example-h1 {
  text-align: center;
  text-anchor: middle;
  align-self: auto;
  padding-top:20px; 
  padding-right: 100px; 
  font-family: "Cocogoose Narrows", cursive;
  color: #567557;
}
 */

