<app-navbar></app-navbar>
<mat-card class="form-card" style="width: 60%; margin-left: 20%; margin-top: 5%">
  <h1>Solictud recursos</h1>
  <div class="example-form">
    <mat-select id="selectrecu" placeholder="Select recurso">
      <mat-option *ngFor="let recurso of recursos" [value]="recurso" (onSelectionChange)="onSelectionChange($event, state)">
        {{recurso.description}} </mat-option>
    </mat-select>
  </div>
  <form class="example-form" [formGroup]="myForm" (ngSubmit)="onSubmit(form)" #form="ngForm" novalidate>
    <div class="example-container">
      <mat-form-field class="example-full-width">
        <input formControlName="cantidad" type="number" matInput placeholder="Cantidad" name="cantidad" ngModel required>
      </mat-form-field>
      <div *ngIf="myForm.get('cantidad').errors && myForm.get('cantidad').dirty">
        <p *ngIf="myForm.get('cantidad').hasError('required')">Cantidad Requerida</p>
      </div>
      <mat-form-field class="example-full-width">
        <textarea formControlName="observa" matInput placeholder="Observación" name="observa" required ngModel></textarea>
      </mat-form-field>
      <div *ngIf="myForm.get('observa').errors && myForm.get('observa').dirty">
        <p *ngIf="myForm.get('observa').hasError('required')">Observación requerida</p>
      </div>
    </div>
    <div class="example-button-row">
      <button mat-raised-button type="submit" color="primary" [disabled]="myForm.invalid">Solicitar</button>
    </div>
  </form>
</mat-card>
