<mat-toolbar color="primary">
  <label>Recursos armada</label>
  <!-- This fills the remaining space of the current row -->
  {{modulo}}
  <span class="space"></span>
  {{userFirebase.firstName}} {{userFirebase.lastName}}
  <button mat-icon-button color="white" [matMenuTriggerFor]="menu">
    <mat-icon class="example-icon">settings</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/home']">
      <mat-icon>home</mat-icon>
      <span>Principal</span>
    </button>
    <button mat-menu-item [routerLink]="['/account']">
      <mat-icon>account_circle</mat-icon>
      <span>Cuenta</span>
    </button>
    <button mat-menu-item [routerLink]="['/login']">
      <mat-icon>exit_to_app</mat-icon>
      <span>Cerrar sesión</span>
    </button>
  </mat-menu>
</mat-toolbar>
<!-- <pre>
  {{userFirebase|json}}
</pre> -->
