<app-navbar></app-navbar>
<h1>Crear un recurso</h1>
<mat-card class="form-card" style="width: 60%; margin-left: 20%; margin-top: 5%">
  <form class="example-form" [formGroup]="myForm" (ngSubmit)="onSubmit(form)" #form="ngForm" novalidate>
      <mat-form-field class="full-width">
      <input formControlName="name_resources" type="text" matInput name="nameresource" placeholder="Nombre recurso"
        ngModel required>
    </mat-form-field>
    <div *ngIf="myForm.get('name_resources').errors && myForm.get('name_resources').dirty">
      <p *ngIf="myForm.get('name_resources').hasError('required')">Requerido nombre recurso</p>
    </div>
    <mat-form-field class="full-width">
      <mat-select formControlName="tipo" name="Tiporecurso" placeholder="Tipo recurso" required ngModel>
        <mat-option value="Administrativo">Administrativo</mat-option>
        <mat-option value="Humanos">Humanos</mat-option>
        <mat-option value="Militares">Militares</mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="myForm.get('tipo').errors && myForm.get('tipo').dirty">
      <p *ngIf="myForm.get('tipo').hasError('required')">Requerido tipo recurso</p>
    </div>
    <mat-form-field class="full-width">
      <textarea formControlName="description" type="text" name="description" matInput placeholder="Descripcion" ngModel></textarea>
    </mat-form-field>
    <div *ngIf="myForm.get('description').errors && myForm.get('description').dirty">
      <p *ngIf="myForm.get('description').hasError('required')">Requerido descripcion</p>
    </div>
    <mat-form-field class="full-width">
      <input formControlName="cantidad" type="number" matInput name="cantidad" placeholder="Cantidad" min="0" max="10"
        required ngModel>
    </mat-form-field>
    <div *ngIf="myForm.get('cantidad').errors && myForm.get('cantidad').dirty">
      <p *ngIf="myForm.get('cantidad').hasError('required')">Requerido cantidad</p>
    </div>
    <div class="example-button-row">
      <br>
      <button mat-raised-button type="submit" color="primary" [disabled]="myForm.invalid">Crear</button>
    </div>
  </form>
</mat-card>
