<div id="notfound">
  <div class="notfound">
    <div class="notfound-404">
      <h1>Oops!</h1>
    </div>
    <h2>404 - Page not found</h2>
    <p>La página a la que esta tratanto ingresar no existe o se ha movido.</p>
    <button routerLink="/home" mat-raised-button color="primary">Regresar</button>
  </div>
</div>
