﻿<mat-grid-list cols="3" rowHeight="1:1" style="padding-top: 5%">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="form-card">
        <h1 style="text-align: center">Login</h1>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="Email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput type="password" placeholder="Contraseña" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        </mat-form-field>
        <div class="button-row">
          <button [disabled]="loading" mat-raised-button color="primary">Ingresar</button>
          <a [routerLink]="['/register']" mat-button>Registrarse</a>
        </div>
      </form>
      <mat-progress-bar *ngIf="loading"  mode="indeterminate"></mat-progress-bar>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
