<app-navbar></app-navbar>
<div class="example-container">
  <mat-form-field class="example-filter">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">
    <!-- Symbol Column -->
    <ng-container matColumnDef="id" class="matColumnDef">
      <th mat-header-cell *matHeaderCellDef> Código solicitud </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="idRecurso">
      <th mat-header-cell *matHeaderCellDef> Código recurso </th>
      <td mat-cell *matCellDef="let element"> {{element.idRecurso}}</td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="cantidad">
      <th mat-header-cell *matHeaderCellDef> Cantidad </th>
      <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
    </ng-container>


    <ng-container matColumnDef="idSolicitante">
      <th mat-header-cell *matHeaderCellDef> Usuario </th>
      <td mat-cell *matCellDef="let element"> {{element.idSolicitante}}</td>
    </ng-container>
    <ng-container matColumnDef="observa">
      <th mat-header-cell *matHeaderCellDef> Observación </th>
      <td mat-cell *matCellDef="let element"> {{element.observa}}</td>
    </ng-container>

    <!-- Name Column
   <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id. Interno </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container> -->

    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef> Estado </th>
      <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acción </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="aprobar(element)" style="margin: 2px" mat-raised-button color="primary">Aprobar</button>
        <button (click)="rechazar(element)" style="margin: 2px" mat-raised-button color="basic">Rechazar</button>
        <button (click)="eliminar(element)" style="margin: 2px" mat-raised-button color="warn">Eliminar</button>
      </td>


    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>

  </table>
</div>
