/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  height: 100%;
}

html {
  height: 88%;
}

h1 {
  text-align: center;
  font-weight: bold;
}

.form-card {
  width: 100%
}

.mat-grid-tile {
  overflow: inherit
}

.full-width,
.example-full-width {
  width: 100%;
}
