h1 {
  text-align: center
}

.module-nav {
  font-weight: bold;
  background-color: #404854;
  height: 100%;
  width: 103%
}

.module-nav .mat-list-item {
  color: white;
}

figure.mat-figure {
  display: inline
}
