﻿<app-navbar></app-navbar>
<mat-grid-list cols="5" rowHeight="101.5%">
  <mat-grid-tile colspan="1" style="display: inline;">
    <mat-nav-list class="module-nav">
      <span *ngFor="let modulo of modulos">
        <a *ngIf="modulo.listado" mat-list-item routerLink="/{{modulo.url}}"> {{ modulo.titulo }} </a>
      </span>
    </mat-nav-list>
  </mat-grid-tile>
  <mat-grid-tile colspan="4" style="display: inline;">
    <app-listado-recursos style="width: 100%; height: 100%;"></app-listado-recursos>
  </mat-grid-tile>
</mat-grid-list>
