<mat-toolbar color="primary">
  <span>Recursos armada</span>
  <!-- This fills the remaining space of the current row -->
  <span class="space"></span>
  <span>Usuario</span>
</mat-toolbar>
<h1>Crear un recurso</h1>
<form class="example-form" (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="example-container">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Algo" name="algo" ngModel>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Texto" name="text" ngModel></textarea>
    </mat-form-field>
  </div>
  <button type="submit" mat-raised-button color="primary">Primary</button>
</form>

<mat-card *ngFor="let recurso of recursos">
  {{recurso.id}}
  <br>
  {{recurso.algo}}
  <br>
  {{recurso.text}}
</mat-card>
