.space {
  flex: 1 1 auto
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  padding-left: 35%;
  padding-top: 5%
}

.example-full-width {
  width: 100%;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container>* {
  width: 100%;
}
